@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Geist", system-ui, sans-serif;
  --font-mono: "Fira Code", "JetBrains Mono", monospace;
}

@layer base {
  body {
    background-color: theme('colors.black');
    color: theme('colors.white');
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
  }
}
